<app-header></app-header>
<!-- <ul> -->
<table class="table">
  <tr>
    <td></td>
    <td>
      <li><a routerLink="addemployee">Add Employee</a></li>
    </td>
    <td>
      <li><a routerLink="listemployee">List Employee</a></li>
    </td>
    <!-- <td>
      <li><a routerLink="updateemployee">Update Employee</a></li>
    </td> -->
    <td>
      <li><a routerLink="login">login</a></li>
    </td>
    <td>
      <li><a routerLink="register">Register</a></li>
    </td>
  </tr>
</table>

<!-- <li><a routerLink="updateemployee">Update Employee</a></li>
  <li><a routerLink="listemployee">List Employee</a></li>
  <li><a routerLink="login">login</a></li>
  <li><a routerLink="register">Register</a></li> -->
<!-- </ul> -->

<router-outlet></router-outlet>

<app-footer></app-footer>